<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mcordova.solutions.android.romancalc"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:theme="@style/Theme.CalcLight" android:icon="@drawable/ic_launcher">
        <activity android:label="@string/app_name" android:name="com.mcordova.android.solutions.romancalc.RomanCalculator" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


<supports-screens android:smallScreens="false" android:largeScreens="false" android:resizeable="false" android:anyDensity="true" android:normalScreens="true"></supports-screens>
</manifest> 